.root{
    border:1px solid black;
    width:10px;
    height:10px;
}
.bubble{
    /* height: 50px;
    width: 50px; */
    border-radius:50%;
    background: url('../../images/—Pngtree—orange\ mischief\ virus\ cute\ virus_5341821.png');
    position:absolute;
    border:none;
}