.root{
  text-align: center;
}
img{
    width:100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 70%;
    height:100px;
    border:1px solid black;
    border-spacing: none;
    
}
